@import "tailwindcss";

:root {
  --white: #ffffff;
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-250: 20px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;

  --font-family: "Public Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --text-1-size: 32px;
  --text-1-line: 120%;
  --text-1-weight: 700;

  --text-2-size: 20px;
  --text-2-line: 120%;
  --text-2-weight: 700;

  --text-3-size: 16px;
  --text-3-line: 150%;
  --text-3-weight: 700;

  --text-4-size: 14px;
  --text-4-line: 150%;
  --text-4-weight: 400;

  --text-5-size: 12px;
  --text-5-line: 150%;
  --text-5-weight: 400;

  --text-5b-weight: 700;

  --background: #ffffff;
   --beige-500: #98908b;
  --beige-100: #f8f4f0;
  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --grey-100: #f2f2f2;
  --green: #277c78;
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --red: #c94736;
  --purple: #826cb0;
  --lila: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy-grey: #97A0AC;
  --green-army: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
